@media (max-width:600px) {
  html,
  body {
    font-size: 100%;
  }

  .top-container-inner .first-top > div,
  .top-container-inner .second-top > div,
  .top-container-inner .third-top > div,
  .main-container-inner .first-sidebar > div,
  .main-container-inner .w3css-content > div,
  .main-container-inner .second-sidebar > div,
  .bottom-container-inner .first-bottom > div,
  .bottom-container-inner .second-bottom > div,
  .bottom-container-inner .third-bottom > div,
  .bottom-container-inner .forth-bottom > div,
  .footer-container-inner .first-footer > div,
  .footer-container-inner .second-footer > div,
  .footer-container-inner .third-footer > div,
  .footer-menu-inner > div {
    padding: 8px !important;
  }

  .w3-container {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  .w3-padding-large,
  .w3-padding {
    padding: 3px 6px !important;
  }

  h1.page-title {
    font-size: 22px;
    padding: 12px 8px;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  p {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin: 0;
  }

  #header-inner {
    padding: 0 !important;
  }

  #header-inner > nav,
  #header-inner > nav > ul {
    width: 100% !important;
    clear: both !important;
  }

  #header-inner > nav > ul li {
    float: left !important;
  }

  .site-logo {
    margin: 10px auto 0 auto !important;
    padding: 0 !important;
    width: 100%;
    text-align: center;
  }

  .block-system-branding-block {
    width: 96%;
    margin: 0 2% !important;
  }

  .site-name,
  .site-slogan,
  .site-name a {
    display: block;
    text-align: center;
  }

  .site-name-slogan {
    display: inline-block;
    margin: 16px auto;
    width: 100%;
  }

  .site-name {
    font-size: 22px;
  }

  .site-slogan {
    font-size: 16px !important;
  }

  .node__meta .node__submitted {
    margin: -2px 10px 0 0 !important;
  }

  .highlighted-inner,
  .welcome-text-inner {
    padding: 0 5px !important;
  }

  #copyright-inner .w3-container {
    padding: 0 5px !important;
  }

  .w3-section {
    margin: 5px 0 !important;
  }

  .copyright-inner .w3-half p {
    text-align: center !important;
  }

  /* Search Page*/
  .path-search form.search-form>.form-wrapper {
    margin-bottom: 10px;
  }

  .path-search form.search-form>.form-wrapper>.form-type-search {
    width: 100%;
  }

  .path-search form.search-form>.form-wrapper>.form-submit {
    position: inherit;
    margin: 0;
    width: 100%;
    bottom: 0;
  }

  .path-user-register .main-container-inner nav.tabs > ul.tabs,
  .path-user-password .main-container-inner nav.tabs > ul.tabs,
  .path-user-login .main-container-inner nav.tabs > ul.tabs {
    justify-content: start;
    flex-direction: column;
    align-items: start;
  }

}
