/* To roll the text around the image */
.node__content > .field--name-field-image,
.node__content > .field--name-field-media-image {
  float: left;
}

.field--type-text::after,
.field--type-text::before,
.field--type-text-with-summary::after,
.field--type-text-with-summary::before,
div.item-list > ol.item-list > li article::after,
div.item-list > ol.item-list > li article::before {
  display: inline !important;
}

/* User picture on the node */
.node__header,
.node__content {
  margin-bottom: 12px;
}

.node__meta {
  display: flex;
  align-items: center;
}

.node__meta .node__author-image {
  margin-right: 12px;
  overflow: hidden;
}

.node__meta .node__author-info {
  font-size: 90%;
}

.node__meta .node__author-image img {
  border-radius: 50%;
}

.node--view-mode-full .field--type-entity-reference .field__item:first-child a {
  padding-left: 0 !important;
}

/*.node--view-mode-full .node__content .field--type-text-long,
.node--view-mode-full .node__content .field--type-string-long,
.node--view-mode-full .node__content .field--type-text-with-summary {
  font-size: 22px;
  line-height: 190%;
}*/

/* Multi items field */
.field.field__items > .field__item,
.field > .field__items > .field__item {
  display: inline-block;
}

.w3-expand-fields .field.field__items > .field__item,
.w3-expand-fields .field > .field__items > .field__item {
  display: block;
}

/* The wrapper for multi items field always block */
.field > .field__items {
  display: block;
}

/* The wrapper for multi items field if the label is inline */
.field--label-inline > .field__label,
.field--label-inline > .field__item,
.field--label-inline > .field__items {
  display: inline-block;
  vertical-align: top;
}

.field--label-above > .field__label,
.field--label-above > .field__item,
.field--label-above > .field__items {
  display: block;
}

.field--type-h5p .field__label,
.field--type-h5p .field__item,
.field--type-h5p .field__items {
  width: 100%;
}

.field--label-above > .field__item,
.field--label-above > .field__items > .field__item:first-child,
.field--label-above > .field__items > .field__item:first-child a {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.field__items > .field__item,
.field--label-inline > .field__label {
  margin-right: 10px;
}

.field--label-inline .field__label::after {
  content: ':';
}

.field--name-field-tags .field__item,
ul.links li {
  border: none !important;
}

ul.links li a {
  border: none;
  padding: 0 !important;
  display: inline-block;
}

.field--name-field-tags .field__item a {
  border: none;
  padding: 3px;
}

.node__content ul.links {
  float: right;
}

.node__content ul.links li:last-child {
  margin-right: 0 !important;
  padding-right: 0 !important;
}

.node--view-mode-full > .node__content > .field--type-image + .field--type-text-with-summary > p:first-child {
  margin-top: 0!important;
}

label,
.field__label {
  font-weight: bold;
}
